<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <center>
        <h1>Dao Trong Cuong</h1>
        <h3>23/12/1996</h3>
        <h3>Hai Phong</h3>
        <h3>Water Resources University</h3>
        <h4>Hobbies: Onmyoji, Warframe, Motor, Girl ,......</h4>
        <h4>Crush: Fuckin dont have :'( </h4>
        
    </center>
</body>
</html>
