<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form method="POST">
                <label>username</label>
                <input type="text" placeholder="e.g Kamen rider" name="username">
                <label>password</label>
                <input type="text" placeholder="lozzzzzzzzzzzzz" name="password">
                <label>email </label>
                <input type="email" placeholder="......@......" name = "email">
                <button>Register</button>
        </form>
</body>
</html>